* {
  padding: 0px;
  margin: 0px;
}
.wrapper {
  background-color: #d6d1b1;
  padding-top: 35px;
  height: 870px;
}
.header img, .header h1 {
  display: inline-block;
  vertical-align: bottom;
}

.header img {
  width: 180px;
  height: 70px;
  margin-bottom: 20px;
}
.header h1 {
  font-size: 40px;
  padding-bottom: 10px;
}
.header {
  padding: 10px 0 0 146px;
  box-sizing: border-box;
}
#ninja-img {
  background-color: white;
}
.main-content {
  padding-left: 24px;
  height: 800px;
  width: 952px;
}
.block-row1 div,
.block-row2 div,
.block-row3 div,
.block-row4 div {
  width: 180px;
  height: 180px;
  border: 4px solid black;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #77b6ea;
}
.block-row1 img,
.block-row2 img,
.block-row3 img,
.block-row4 img {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}
 .block-row1 .pink-color,
  .block-row2 .pink-color,
  .block-row3 .pink-color,
  .block-row4 .pink-color {
  background-color: #fc6471;
}
