* {
  padding: 0px;
  margin: 0px;
}
.container-fluid{
  background-color: lightgray;
  text-align: center;
}

.header {
  font-size: 50px;
  padding-bottom: 10px;
  color: #fd6370;
}

#ninja-img {
  background-color: white;
}

.block-row1 div,
.block-row2 div,
.block-row3 div,
.block-row4 div {
  width: 180px;
  height: 180px;
  border: 4px solid black;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #77b6ea;
}
.block-row1 img,
.block-row2 img,
.block-row3 img,
.block-row4 img {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}
 .block-row1 .pink-color,
  .block-row2 .pink-color,
  .block-row3 .pink-color,
  .block-row4 .pink-color {
  background-color: #fc6471;
}
